<% include ../partials/header %>
&nbsp;
<h1 class="text-center">Report:Purchase by item</h1>
<div class="table-responsive">
<table class="table">
    <thead>
        <tr>
        <th>ITEM NAME</th>
        <th>QUANTITY PURCHASED</th>
        <th>AMOUNT</th>
        </tr>
    </thead>
    <tbody>
    <% product.forEach(function(product) { %>
        <tr>
            <td scope="row"><%= product.title %></td>
            <td><%= product.quantity %></td>
            <td>$<%= product.price %></td>
        </tr>
        <% }); %>
        <% sum.forEach(function(sum) { %>
        <tr>
            <td scope="row"><font color="red">Total</font></td>
            <td id="quantity"><font color="red"><%= sum.squantity %></font></td>
            <td id="price"><font color="red"><%= sum.sprice %></font>$</td>
        </tr>
        <% }); %>
    </tbody>
</table>
</div>
 <% include ../partials/footer %>