<% include ../partials/header %>
<form action="/product/update" method="post">
  <div class="form-group">
    <label for="">ID</label>
    <input type="number" class="form-control" value="<%= product.product_id %>" name="id" id="" aria-describedby="helpId"
      placeholder="">
    <small id="helpId" class="form-text text-muted">ProductID</small>
  </div>

  <div class="form-group">
    <label for="">Title</label>
    <input type="text" class="form-control" value="<%= product.title %>" name="title" id="" aria-describedby="helpId"
      placeholder="">
    <small id="helpId" class="form-text text-muted">Product title</small>
  </div>

  <div class="form-group">
    <label for="">Price</label>
    <input type="number" class="form-control" value="<%= product.Price %>" name="price" id="" aria-describedby="helpId"
      placeholder="">
    <small id="helpId" class="form-text text-muted">Product price</small>
  </div>

  <div class="form-group">
    <input type="text" class="form-control" value="<%= time %>" name="time" id="" aria-describedby="helpId" placeholder="">
    <small id="helpId" class="form-text text-muted">Time</small>
  </div>

  <button type="submit" class="btn btn-success">Save</button>
  <a name="" id="" class="btn btn-primary" href="/products" role="button">Cancel</a>
  <button type="button" class="btn btn-danger" data-toggle="modal" data-target="#exampleModal" role="button" >DELETE</button>

</div>
</form>

<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel"> Confirm Delete </h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body"> Do you want to delete user ? </div>
        <div class="modal-footer">
          
          <a name="" id="" class="btn btn-primary" href="/product_delete/<%= product.product_id %>" role="button"> DELETE </a>
          <button type="button" class="btn btn-secondary" data-dismiss="modal"> CANCLE </button>
          
        </div>
      </div>
    </div>
  </div>
</form>

<script language="JavaScript">
  function Confirm() {
    if (confirm('Do you want to delete product') == true) {
      window.location = "/product_delete/<%= product.product_id %>";


    } else {
      return (null);
    }
  }
</script>
<% include ../partials/footer %> 