<% include ../partials/header %>
<br>
<input class="form-control" id="myInput" type="text" placeholder="Search">

<div class="table-responsive">
<table class="table">
    <thead>
        <tr>
            <th>user ID</th>
            <th>Emil</th>
            <th>Password</th>
            <td><a name="" id="" class="btn btn-primary" href="/addUser" role="button">Add New</a></td>

        </tr>
    </thead>
    <tbody id="myTable">
        <% users.forEach(function(user) { %>
        <tr>
            <td scope="row">
                <%= user.user_id %>
            </td>
            <td>
                <%= user.email %>
            </td>
            <td>
                <%= user.password %>
            </td>
            <td><a name="" id="" class="btn btn-primary" href="/users/<%= user.user_id %>" role="button">Edit</a></td>
            <td><a name="" id="" class="btn btn-danger" href="/user_delete/<%= user.user_id %>" onclick="return confirm('Are you sure you want to delete?')"
                    role="button">Delete</a></td>
        </tr>
        <% }); %>
    </tbody>
</table>

</div>

<script>
        $(document).ready(function () {
            $("#myInput").on("keyup", function () {
                var value = $(this).val().toLowerCase();
                $("#myTable tr").filter(function () {
                    $(this).toggle($(this).text().toLowerCase().indexOf(value) > -1)
                });
            });
        });
</script>
<% include ../partials/footer %>